#shuttleBackground {
    background-color: green;
    display: inline-block;
    height: 80%;
    width: 40%;
}
#rocket {
    height: 75px; 
    width: 75px; 
    position: absolute;
    left:10px;
    bottom: 10px;
}